.fieldWrapper {
  width: 50vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  list-style: none;

  li {
    width: calc(33.33% - 2px);
    height: 33.33%;

    &:nth-of-type(3n-1) {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }

    &:nth-of-type(-n+6) {
      border-bottom: 1px solid black;
    }
  }
}
